<pre>
http://this_site/<strong>start x</strong>/<strong>end x</strong>/<strong>start y</strong>/<strong>end y</strong>
http://this_site/<strong>end x</strong>/<strong>end y</strong> (start values default to 1)
put /left/ before the numbers to get the headings on the left.
&nbsp;
<a href="/6/4">example</a> <a href="/-5/6/-3/4">with start values</a>
<a href="/left/6/4">example</a> <a href="/left/-5/6/-3/4">with start values</a> with the headings on the left
</pre>
